body {
  font-family: arial;
  background-color: rgb(255, 254, 234)

}

.question {
  font-style: italic;
  margin: 50px 50px 10px 50px;

}
.results {
  margin: 10px 50px 0px 50px;
  font-size: 20px
  

}
